<h2>Salary Calculator</h2>
<div>
    <table border="1" style="border-color: black">
        <tr>
            <th>Basic Salary</th>
            <th>DA</th>
            <th>PF</th>
            <th>Conveyence</th>
            <th>HRA</th>
            <th>Gross Salary</th>
            <th>Net Salary</th>
        </tr>
        <tr>
            <td>{{basic_sal}}</td>
            <td>{{da}}</td>
            <td>{{pf}}</td>
            <td>{{conveyence}}</td>
            <td>{{hra}}</td>
            <td>{{gross}}</td>
            <td>{{net_Sal}}</td>
        </tr>

    </table>
</div>
