<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<ol>
  <li><a routerLink="First">First</a></li>
  <li><a routerLink="StudentInfo">StudentInfo</a></li>
  <li><a routerLink="Oneway">Oneway</a></li>
  <li><a routerLink="Twoway">Twoway</a></li>
  <li><a routerLink="PInfo">PInfo</a></li>
  <li><a routerLink="RegForm">RegForm</a></li>
  <li><a routerLink="Pizzaform">PizzaForm</a></li>
  <li><a routerLink="RegformReactive">RegForm Reactive</a></li>
  <li><a routerLink="Counter">Counter</a></li>
  <li><a routerLink="Counter1">Counter1</a></li>
  <li><a routerLink="ConsumeService">ConsumeService</a></li>
</ol>

<router-outlet></router-outlet>
<!-- <div>
  <app-counter></app-counter>
</div>
<div>
  <app-counter1></app-counter1>
</div>
<div>
  <app-consumeservice></app-consumeservice>
</div> -->
<!-- <div>
  <app-regform-template></app-regform-template>
</div>
<div>
  <app-product-list></app-product-list>
</div>
<div>
  <app-twowaybinding></app-twowaybinding>
</div>
<div>
  <app-first>
  </app-first>
</div>
<div>
  <app-studentinfo></app-studentinfo>
</div>
<div>
  <app-calculator></app-calculator>
</div>
<div>
  <app-salary-calculator></app-salary-calculator>
</div>
<div>
  <app-onewaybinding></app-onewaybinding>
</div> -->